In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('student-data.csv')
print("Original Data")
print(data[0:5])

Original Data
                         participant_id             name         dob  \
0  1de9ea66-70d3-4a1f-8735-df5ef7697fb9    Thomas Crosby  1996-07-16
1  9da618fd-7bf7-4a4d-9f8f-5ffba5f80a0a   Brandon Reeves  1957-11-30
2  d30aad4b-4503-4e22-8bc4-621b94398520   Maria Castillo  1981-02-03
3  790b2f7c-b5c3-4ec1-a4ce-01e15560eaba      Carol Jones  1990-09-17
4  6a8f6926-0a22-4ba8-b442-a1244e2e3761  Robert Thompson  1967-06-09

  is_student  target   Q1   Q2   Q3   Q4
0      False  809.97  1.0  5.0  0.0  0.0
1      False  866.41  1.0  8.0  1.0  1.0
2      False  776.92  3.0  8.0  0.0  1.0
3       True  929.72  3.0  0.0  1.0  2.0
4       True  923.66  NaN  0.0  6.0  NaN

In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#New Variable
from dateutil.relativedelta import *
from datetime import *

df = pd.read_csv("student-data.csv")  
def get_age(dob):
    now = datetime.now()
    age = relativedelta(now, dob).years
    return age
  
df['age'] = pd.to_datetime(df['dob']). apply(get_age)

data = df.filter(['name','dob','age','is_student','target'])

print(data)

                name         dob  age is_student  target
0      Thomas Crosby  1996-07-16   27      False  809.97
1     Brandon Reeves  1957-11-30   66      False  866.41
2     Maria Castillo  1981-02-03   43      False  776.92
3        Carol Jones  1990-09-17   33       True  929.72
4    Robert Thompson  1967-06-09   56       True  923.66
..               ...         ...  ...        ...     ...
99      Barbara Ford  1975-01-23   49      False  937.97
100   Maria Castillo  1981-02-03   43      False  776.92
101      Edward Hood  1984-01-10   40      False  975.77
102    Jeffrey Smith  1996-09-29   27      False  996.08
103   Hayley Hoffman  1958-06-23   65      False  825.04

[104 rows x 5 columns]